<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chats de {{user.username()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="myForm">
    <ion-item>
      <ion-input label="New message:" placeholder="Type here..." [clearInput]="true" formControlName="message"></ion-input>
      <ion-button color="dark" shape="round" (click)="sendMessage()" [disabled]="!myForm.valid">
        <ion-icon slot="end" name="send-outline"></ion-icon>Send
      </ion-button>
    </ion-item>
  </form>
  <!-- <p>Value: {{ message.value }}</p> -->
</ion-content>

