<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chats de {{user.username()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="chat">
    @for (message of chatMessages.messages(); track $index) {
      <div class="message">
        <div class="user"> {{message.user}} </div>
        <div> {{message.message}} </div>
        <div class="date"> {{message.date}} </div>
      </div>
    }
  </div>
  <form [formGroup]="myForm" class="form">
    <ion-item>
      <ion-input label="New message:" placeholder="Type here..." [clearInput]="true" formControlName="message"></ion-input>
      <ion-button color="dark" shape="round" (click)="sendMessage()" [disabled]="!myForm.valid">
        Send
      </ion-button>
    </ion-item>
  </form>
  <!-- <p>Value: {{ message.value }}</p> -->
</ion-content>

