<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chats de {{user.username()}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-infinite-scroll (ionInfinite)="obtainOlderMessages($event)" threshold="-10" position="top" [disabled]="infiniteScrollDisabled">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div class="chat" id="chat">
    @for (message of chatMessages.messages(); track $index) {
      <div class="message">
        <div class="user"> {{message.user}} </div>
        <div> {{message.message}} </div>
        <div class="date"> {{message.date}} </div>
      </div>
    }
  </div>
  <form [formGroup]="myForm" class="form" (keydown.enter)="sendMessage()">
    <ion-item>
      <ion-input label="New message:" placeholder="Type here..." [clearInput]="true" formControlName="message"></ion-input>
      <ion-button color="dark" shape="round" (click)="sendMessage()" [disabled]="!myForm.valid">
        Send
      </ion-button>
    </ion-item>
  </form>
  <ion-button (click)="chatMessages.deleteMessages()">
    BOTON PARA BORRAR BD
  </ion-button>
  <!-- <p>Value: {{ message.value }}</p> -->
</ion-content>

