<ion-content [fullscreen]="true">
  <div class="content">
    <ion-card style="margin: 1em; width: 20%; height: auto">
      <img
        class="image"
        alt="foto de un chat con mensajes en un movil"
        src="assets/images/chatting-app.png"
      />
      <ion-card-header>
        <ion-card-title>Bienvenidos a Chatting-app</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card style="margin: 1em; width: 20%; height: auto">
      <ion-card-content>
        <p class="text">
          ¡Conéctate, comparte y disfruta de conversaciones en tiempo real con
          tus amigos y familiares! En Chatting-app, hemos creado un espacio
          donde puedes crear grupos de chat, compartir tus momentos especiales y
          mantenerte en contacto con las personas que más te importan.
        </p>
        <br />

        <span class="text">
          <b>¿Tienes cuenta?</b> Inicia sesión para comenzar a chatear.
        </span>

        <br />
        <span class="text">
          <b>¿No tienes?</b> Regístrate con google y forma parte de esta
          aventura.
        </span>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
